  /* Example: Use this font in code blocks or body text */
  body, code {
    font-family: 'LXGW Wenkai', sans-serif;
  }

  body {
    margin: 0;
    font-size: 2rem;
    overflow-x: hidden;
}

/* Hide theme picker button */
#theme-toggle {
    display: none;
}

#theme-list {
    display: none;
}

/* Hide print button */
#print-button {
    display: none;
}