  /* Use LXGW WenKai Screen font */
  body, code {
    font-family: 'LXGW WenKai Screen', sans-serif;
  }

  body {
    margin: 0;
    font-size: 2rem;
    overflow-x: hidden;
}

/* Hide theme picker button */
#theme-toggle {
    display: none !important;
}

#theme-list {
    display: none !important;
}

/* Hide print button */
#print-button {
    display: none !important;
}